.style1 {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
}
.style2 {
       
        width: 86px;
        height: 24px;
        right: 30px;
        top: 100px;
        border: solid black thin;
        z-index: 2;
        position: absolute;   
}
.style3 {
        width: 86px;
        height: 24px;
	
}

